
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
     background:radial-gradient(circle, rgba(3,2,20,1) 44%, rgba(0,255,112,0.5255474452554745) 100%);
    
    
    text-align: center;
    font-size: auto;
  }
  
  header {
    display: flex;
    color: rgb(203	197	151	);
    padding: 20px;
    line-height: auto;
    margin: auto;
    margin: 0;
    text-shadow: 3px 5px 10px #14FA27 ;
    color: rgb(203	197	151	);
    text-align: center;
    font-size: 25px;
    font-family: cursive ;
  }
  
section header {
     display: flex;
     flex-direction: row;
     flex-grow: 2; 
    align-items: center ;
    justify-content: center; 
    
  
  
  }
  .logo img{
    width: 45px;
    border-radius: 100px;
    margin-right: 20px;
  }
  .titulo
  {
    align-items: center;
    font-size: 30px;
  }
  nav .navegacion 
  {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   border-radius: 30px;
   
  justify-content: center;
   list-style: none;
    
   padding: 0;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   
 }
 nav {
  background:radial-gradient(circle, rgba(3,2,20,1) 44%, rgba(0,255,112,0.3253676470588235) 100%);
  border-radius: 30px;
  
  
  
  margin: 20px;
  padding: -10px;
  
 }
 main{
 
  color: rgb(203	197	151	);
  
 
 }
.multimedia img{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  margin: auto;
  
  box-shadow: 0 0 10px #000000;
  filter: drop-shadow(0 0 10px #14FA27 );
  border-radius: 50px;
  gap: 20px;
 }
 .imagen {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background:radial-gradient(circle, rgba(3,2,20,1) 44%, rgba(0,255,112,0.3253676470588235) 100%);
  border-radius: 40px;
  

 } 
  .navegacion a {
    color:  rgb(203	197	151	);
    text-decoration: none;
    font-size: 25px;
    
    
  }
  .navegacion a:hover{
    color:#14FA27;
  }
  img{
    width:auto;
    display: grid;
    

  }
  .navegacion:hover{
    box-shadow: 0 1px 6px 0 #20212447;
  border-color: #c1c1c1;
  }
  main {
    padding: 20px;
  }
 
  section {
    margin-bottom: auto;
  }
  .informacion{
    background:radial-gradient(circle, rgba(3,2,20,1) 44%, rgba(0,255,112,0.3253676470588235) 100%);
    border-radius: 40px;
    
    
  }
  
  footer
   {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    width: auto;
    font-size: 18px;
  } 
  @media screen and (max-width: 900px) {
	
  }
  
  @media screen and (max-width: 700px) {
    
  }
  
  @media screen and (max-width: 600px) {
  
  }